{{ define "main" }}

<section id="image">

</section>

<section id="timeline">
  <h2>De la méthode Brogniart à la Team Point Barre</h2>
  <p>
    Stéphane Brogniart souhaite partager sa méthode de développement personnel au travers de coaching sportif.
    Il commence l'encadrement d'un petit nombre de sportifs de tout niveaux.
  </p>
  
  <p>Stéphane organise également des stages de trail sur une durée d'un week-end, Benoît Gandolfi l'accompagne dans ce projet.</p>
  
  <p>
    Stéphane invite ses athlètes à participer aux stages, de là naît le stage VIP.
    Une fois par un an un stage permet à l'ensemble des personnes entraînées de partager et de rencontrer le vosgien en cher et en os.
  </p>
  
  <p>Stéphane part se perdre dans l'Atlantique. L'aventure dure un peu plus longtemps que prévu, se qui amène Benoît à prendre le relais d'entraîneur pendant son absence.</p>
  
  <p>Benoît se lance alors dans les coachings et le nombre d'athlète augmente.</p> 
  
  <p>Martin et Florian encadré par Stéphane on des désirs de devenir entraîneurs. La team point barre est créée, un ensemble d'entraîneurs portant les mêmes valeurs.</p>
  
</section>
  
{{ end }}

