{{ define "main" }}

<section id="image">

</section>

<section id="timeline">
  <h2>De la méthode Brogniart à la Team Point Barre</h2>
  <p>
    En 2014 après un top 10 à l'UTMB et un diplôme de préparateur mental, Stéphane Brogniart décide de se lancer dans l'accompagnement personnalisé. Loin des tableaux excel, c'est avant tout une relation entraineur entrainé, au service du développement personnel, avec comme outil, le sport outdoor.
  </p>
  
  <p>Stéphane organise également des stages de trail sur une durée d'un week-end, Benoît Gandolfi l'accompagne dans ce projet.</p>
  
  <p>
    Stéphane invite ses athlètes à participer aux stages, de là naît le stage VIP.
    Une fois par un an un stage permet à l'ensemble des personnes entraînées de partager et de rencontrer le vosgien en cher et en os.
  </p>
  
  <p>
    En 2020 Stéphane se lance dans la traversée de l'Atlantique à la rame. Benoît Gandolfi assure le rôle d'entraîneur pendant son absence et prends goût à cet exercice.
  </p>

  <p>
    Au vu des résultats et de la forte demande, Stéphane décide en 2021 de former au sein même de la team des entraineurs avec des caractéristiques et compétences différentes, maitrisant parfaitement la méthode pour accompagner le plus grand nombre.
    La team point barre est créée.
  </p>
  
</section>
  
{{ end }}




