{{ define "main" }}

<section id="image">

</section>

<section id="timeline">
  <h2>De la méthode Brogniart à la Team Point Barre</h2>
  <p>
    En 2015, après 10 ans d’expérimentation sur lui-même et sur les personnes de son entourage, Stéphane Brogniart obtient un diplôme de préprateur mental lui permettant de se lancer dans l’accompagnement personnalisé dans le sport outdoor en parallèle de son travail dans le milieu hospitalier.
  </p>

  <p>
    Pendant 5 ans Stéphane affine la méthode de transmission. En 2020 d'autres coachs viennent épauler Stéphane : la "Team point barre" est née.
  </p>

  <p>
    Dès la première année, la rencontre entre les athlètes de la team est un élément important. Dans un premier temps sous forme de stage (dénivelé, traversée des Vosges, débutant, fille), puis à travers des événements off (30 kms vol d’oiseau, 6hd+, etc).
  </p>

  <p>
    En 2023 les rencontres se font à travers la reconnaissance de beaux tracés dans l’hexagone sur plusieurs jours. Lles prochaines années auront aussi leur originalité!
  </p>
  
  <p>
    Le premier week-end d'Août est un moment important pour renforcer le lien entre tous les athlètes quelques soit le niveau et les attentes: c'est le fameux stage VIP.
  </p>

  <p>
    Team point barre un jour, team point barre toujours, car même les personnes qui ont quitté garde des liens.
    Au delà de l’accompagnement c’est aussi du développement personnel, et du meilleur grâce aux rencontres avec les autres.
  </p>

  <p>Stéphane cherche aussi à faire progresser ce collectif en laissant libre de proposer aux membres des initiatives ou des compétences pour embellir davantage la team.</p>

  
  
</section>

{{ end }}




