<section class="wrapper style1 align-center" id="recits">
  <div class="inner">
    <h2>Parole aux athlètes</h2>
    <div class="masonry">
      {{ with .Site.GetPage "/recits" }}
      {{ range .Data.Pages }}
      <article class="brick">
	{{ if and (isset .Params "image") .Params.image }}
	<a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
	  <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
	</a>
	{{ end }}
	<div class="box-masonry-text">
	  <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
	  <div class="box-masonry-description">
            <p>
              {{ if .Description }}
              {{ .Description }}
              {{ else }}
              {{ .Summary }}
              {{ end }}
            </p>
	    <div class="actions fixed">
              <span class="button small">...</span>
	    </div>
	  </div>
	</div>
      </article>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
