{{ define "main" }}
<section id="main">
  <h1>{{ .Title }}</h1>
  <article>
    {{ .Content }}
  </article>
</section>

<nav id="posts">
  {{ with .PrevInSection }}
  <a class="previous" href="{{.Permalink}}">
    <span class="emoji">{{ ":runner:" | emojify }}{{ slicestr .Title 0 1}}</span>
  </a>
  {{ end }}
  ...
  {{ with .NextInSection }}
  <a class="next" href="{{.Permalink}}">
    {{ slicestr .Title 0 1 }}<span class="emoji turn">{{ ":runner:" | emojify }}</span>
  </a>
  {{ end }}
</nav>



{{ end }}
